.App {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
input {
  border: 4px rgba(71, 71, 71, 0.63) solid;
  border-radius: 5px;
  font-size: 20px;
  padding: 20px;
  outline: none;
}

p {
  margin: 0.5px;
}
